@import "../../../base/base-style.scss";

.container {
    cursor: pointer;
    color: $cyan-bright;
    border: solid $cyan-bright 1px;
    background: $page-dark;
    max-width: 200px;

    &.isAuthenticated:hover {
        border-color: $red-bright;
        color: $red-bright;
    }

    &.isDeauthenticated:hover {
        border-color: $green-bright;
        color: $green-bright;
    }
}

.name {
    color: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
}
