@import "../../../base/base-style.scss";

.container {
    border: solid 1px $white-dark;
    max-width: 600px;
}

.quoteId {
    color: $white-bright;
}

.name {
    color: $white-normal;
}

.green {
    color: $green-bright !important;
}

.red {
    color: $red-bright !important;
}

.neutral {
    color: $white-bright !important;
}

.high {
    color: $white-bright;
    line-height: unset;
}

.current {
    color: $white-bright;
    line-height: unset;
    border-top: solid 1px $cyan-normal;
    border-bottom: solid 1px $cyan-normal;
}

.low {
    color: $white-bright;
    line-height: unset;
}

.separator {
    height: 5px;
    width: 1px;
    background: $cyan-normal;
}

.highText {
    color: $white-normal;
    line-height: unset;
}

.currentText {
    color: $white-bright;
    line-height: unset;
    border-top: solid 1px $cyan-normal;
    border-bottom: solid 1px $cyan-normal;
}

.lowText {
    color: $white-normal;
    line-height: unset;
}

.dataAsOf {
    color: $white-dark;
}
