@import "../../../base/base-style.scss";

.dayContainer {
    border: solid 1px $white-dark;
    background: $hover-dark;
    cursor: pointer;
    opacity: 0.75;

    .thermometerContainer {
        transition: 2.5s ease;
        pointer-events: none;
        left: 0;
        right: 0;
    }

    .thermometerMax {
        color: $cyan-normal;
        margin: 0;
    }

    .thermometer {
        background: $cyan-bright;
        margin: 5px;
        width: 1px;
        padding: 0px;
        height: 0px;
        align-self: center;
        transition: height 2.5s ease;
    }

    .thermometerMin {
        color: $cyan-normal;
        margin: 0;
    }

    &:hover {
        border: solid 1px $white-normal;
        opacity: 1;

        .thermometer {
            box-shadow: 0px 0px 10px 1px $cyan-bright;
        }
    }
}

.hourContainer {
    border: solid 1px $white-dark;
}

.weekday {
    color: $white-normal;
    text-overflow: ellipsis;
    overflow: hidden;
}

.weekdayHour {
    color: $white-bright;
}

.condition {
    color: $white-normal;
    text-overflow: ellipsis;
    overflow: hidden;
}

.temperature {
    color: $white-bright;
    text-overflow: ellipsis;
    overflow: hidden;
}

.feelslike {
    color: $white-dark;
}

.warm {
    color: $orange-normal;
}

.cold {
    color: $cyan-normal;
}

.icon {
    width: calc(2rem + 3.3vw);
    max-width: 80px;
    filter: $filter-shadow-medium;
}

.time {
    color: $white-normal;
}

.extra {
    color: $white-normal;
}

.arrow {
    color: $white-normal;
    font-size: 2rem;
    cursor: pointer;

    &:hover {
        color: $white-bright;
    }
}

@media (max-width: 991px) {
    .feelslike {
        display: none !important;
    }

    .extra_Col {
        text-align: center !important;
    }

    .extra2_Col {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .daysContainer {
        padding-bottom: 0px !important;
    }
}

@media (max-width: 425px) {
    .cloudiness_Col_Mobile {
        display: none !important;
    }
}
