@import '../../base/base-style.scss';

.container {
    max-width: 350px;
}

.inputGroup {
    border: solid 1px $white-dark;

    .input {
        background: $page-dark;
        color: $white-bright;
        font-weight: bold;
        text-align: center;
    }

    .progressBar {
        position: absolute;
        bottom: 0;
        z-index: 3;
        width: 100%;
        margin: 0px !important;
        background: $page-dark;
        height: 5px;
    }

    &.hover {
        border: solid 1px $white-normal;

        .input {
            color: $white-bright;
        }
    }

    &.active {
        border: solid 1px $white-bright;
        
        .input {
            background: $black-dark;
            color: $white-bright;
        }

        .progressBar {
            background: $black-dark;
        }
    }
}

.listGroupContainer {
    position: relative;
}

.listGroup {
    position: absolute;
    z-index: 1000;
    left: 0;
    right: 0;
}

.item {
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    border-top-width: 1px !important;
    border-top: solid 1px $white-bright;
    border-bottom: solid 1px $white-normal;
    background: $white-bright;
    color: $black-dark;
    font-weight: 500;

    &:last-child {
        border-bottom: solid 1px $white-bright;
    }

    &.active {
        background: $page-bright;
        border: solid 1px $page-bright;
        color: $white-bright;
        font-weight: bold;
        cursor: pointer;
    }
}