@import '../../../base/base-style.scss';

.overlay {
    background: $hover-bright;
}

.container {
    background: $page-normal;
    max-width: 90%;
    height: auto;
    max-height: 80%;
    z-index: 1040;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}

.header {
    border-bottom: solid 1px $white-bright;
    height: 50px;
    display: flex;
}

.title {
    margin-bottom: 2px;
    color: $white-bright;
}

.close {
    width: 40px;
    height: 30px;
    z-index: 1050;
    opacity: 0.6;
    right: 0;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }

    &:before,
    &:after {
        position: absolute;
        left: 14px;
        content: ' ';
        height: 30px;
        width: 3px;
        background: $white-bright
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }
}

.content {
    overflow: auto;
    height: calc(100% - 50px);
}