@import '../../../../library/base/base-style.scss';

.logo {
    color: $white-bright;
}

.page {
    cursor: pointer;
    color: $white-normal;
    border: solid 1px $white-normal;

    &:hover {
        color: $white-bright;
        border: solid 1px $white-bright;
        background: $page-dark;
    }
}

.text {
    color: $white-bright;
}

.description {
    color: $white-normal
}