@import '../../../base/base-style.scss';

.container {
    border: solid 1px $white-dark;
}

.heading {
    color: $white-bright;
}

.requirement {
    color: $cyan-bright;
}

.valueContainer {
    border-bottom: dashed 1px $white-dark;
    display: flex;
    justify-content: space-between;
}

.title {
    color: $white-normal;
    font-weight: 700;
    font-size: 0.85rem;
    margin: 0;
    line-height: 1;
}

.value {
    color: $cyan-normal;
    font-weight: 700;
    font-size: 0.85rem;
    margin: 0;
    line-height: 1;
}

.good {
    color: $green-bright;
}

.goodContainer {
    border: solid 1px $green-dark;
}

.bad {
    color: $red-bright;
}

.badContainer {
    border: solid 1px $red-dark;
}

.footer {
    font-size: 0.8rem;
    color: $white-dark;
}