@import "../../../base/base-style.scss";

.timeframe {
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    color: $white-normal;
    margin: 5px;
    padding: 0px;
    width: 50px;
    border: solid 1px $white-dark;

    &:hover {
        border: solid 1px $white-bright;
    }

    &.active {
        cursor: default;
        color: $page-normal;
        border: solid 1px $white-bright;
        background: $white-bright;
    }
}

.minus {
    cursor: pointer;
    font-size: 0.8rem;

    &:hover {
        color: $red-bright;
    }
}

.plus {
    cursor: pointer;
    font-size: 0.8rem;

    &:hover {
        color: $green-bright;
    }
}

.disabled {
    opacity: 0;
    cursor: default;
}

@media (max-width: 450px) {
    .plus {
        display: none !important;
    }
    .minus {
        display: none !important;
    }
}
