@import '../../../base/base-style.scss';

.alertContainer {
    border: solid 1px $white-dark;
}

.title {
    color: $white-normal;
}

.arrow {
    color: $white-normal;
    font-size: 2rem;
    cursor: pointer;

    &:hover {
        color: $white-bright;
    }
}

.cross {
    color: $white-normal;
    padding-top: 2px;
    cursor: pointer;

    &:hover {
        color: $white-bright;
    }
}

.quoteId {
    color: $white-bright;
}

.name {
    color: $white-normal;
    font-weight: 700;
    font-size: 0.85rem;
    margin: 0;
    line-height: 1;
}

.value {
    color: $cyan-normal;
    font-weight: 700;
    font-size: 0.85rem;
    margin: 0;
    line-height: 1;
}

.sellPoints {
    color: $green-bright;
}

.stopPoints {
    color: $red-bright;
}

.username {
    color: $cyan-bright;
    text-overflow: ellipsis;
    overflow: hidden;
}

.createdOn {
    color: $white-normal;
}

.completedOn {
    color: $white-normal;
}

.successful {
    color: $green-bright;
}

.unsuccessful {
    color: $red-bright;
}

.inProgress {
    color: $white-dark;
}

.overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $page-dark;
    opacity: 0.95;
}

.areYouSure {
    color: $white-bright;
}

.yes {
    cursor: pointer;
    max-width: 100px;
    flex: 1;
    border: solid 1px $green-normal;
    color: $green-normal;

    &:hover {
        color: $green-bright;
        background: $page-dark;
        border: solid 1px $green-bright
    }
}

.no {
    cursor: pointer;
    max-width: 100px;
    flex: 1;
    border: solid 1px $red-normal;
    color: $red-normal;

    &:hover {
        color: $red-bright;
        background: $page-dark;
        border: solid 1px $red-bright;
    }
}

.error {
    color: $white-bright;
}