$white-bright: #ffffff;
$white-normal: #bfc1c8;
$white-dark: #7d7f85;

$black-bright: #313131;
$black-normal: #1d1d1d;
$black-dark: #000000;

$cyan-bright: #3be2ff;
$cyan-normal: #31C2DD;
$cyan-dark: #008096;

$orange-bright: #ff7139;
$orange-normal: #dd6231;
$orange-dark: #8f2800;

$green-bright: #31dd4b;
$green-normal: #28b43d;
$green-dark: #197728;

$red-bright: #dd3731;
$red-normal: #a82a26;
$red-dark: #751c19;

$page-bright: #393d52;
$page-normal: #1e202b;
$page-dark: #12131a;

$hover-bright: rgba(0, 0, 0, 0.5);
$hover-normal: rgba(0, 0, 0, 0.3);
$hover-dark: rgba(0, 0, 0, 0.1);

$shadow-small: 0px 0px 2px 1px black;
$shadow-medium: 0px 0px 5px 1px black;
$shadow-large: 0px 0px 8px 1px black;

$filter-shadow-small: drop-shadow(0px 2px 2px black);
$filter-shadow-medium: drop-shadow(0px 3px 5px black);
$filter-shadow-large: drop-shadow(0px 4px 8px black);